@model IEnumerable<WebAppTilausDB.Models.Tuotteet>

@foreach (var item in Model)
{
    var imgSrc = "";
    <div class="col-lg-4 col-md-6 col-sm-12">
        @if (item.Kuva != null)
        {
            var imgBytes = Convert.ToBase64String(item.Kuva);
            imgSrc = String.Format("data:image/gif;base64,{0}", imgBytes);
        }
        else
        {
            imgSrc = "/Content/Images/placeholder.jpg";
        }
        <div class="card mb-3" style="width: 20rem;">
            <a onclick='drawChart("@item.TuoteID", "@item.Nimi")'><img src="@imgSrc" class="card-img-top" alt="TuoteKuva"></a>
            <div class="card-body">
                <h5 class="card-title">@item.Nimi</h5>
                <p class="card-text">@Html.DisplayNameFor(model => model.Ahinta): @Html.DisplayFor(modelItem => item.Ahinta)</p>
                @if (Session["Oikeudet"].Equals("Näytä"))
                {
                    <a onclick="tuoteDetailsToModal('@item.TuoteID')" class="btn btn-primary"><img src="~/Content/Icons/info-square.svg" /></a>
                }
                else
                {
                    <a onclick="tuoteEditToModal('@item.TuoteID')" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a onclick="tuoteDetailsToModal('@item.TuoteID')" class="btn btn-primary"><img src="~/Content/Icons/info-square.svg" /></a>
                    <a onclick="tuoteDeleteToModal('@item.TuoteID')" class="btn btn-primary"><img src="~/Content/Icons/trash.svg" /></a>
                }
            </div>
        </div>
    </div>
}