@model IEnumerable<WebAppTilausDB.Models.Postitoimipaikat>


@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 px-5">
        @if (Session["Oikeudet"].Equals("Näytä"))
        {
            <ul class="list-group mb-3" style="min-width: 13rem;">
                <li class="list-group-item bg-primary d-flex justify-content-between align-content-center">
                    <text>@item.Postinumero</text><text class="text-dark">–</text><text>@item.Postitoimipaikka</text>
                </li>
            </ul>
        }
        else
        {
            <a onclick="ptpEditOrDelete('@item.Postinumero')" style="cursor: pointer">
                <ul class="list-group mb-3" style="min-width: 13rem;">
                    <li class="list-group-item bg-primary d-flex justify-content-between align-content-center">
                        <text>@item.Postinumero</text><text class="text-dark">–</text><text>@item.Postitoimipaikka</text>
                    </li>
                </ul>
            </a>
        }
    </div>
}