@model WebAppTilausDB.ViewModels.KirjautumisModel

<div class="modal" id="signupRuutu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Rekisteröidy TilausDB-järjestelmään</h2>
            </div>
            <div class="modal-body">
                <p>Luotuasi uuden tilin, saat oikeudet vain tietojen tarkasteluun. Ole yhteydessä adminiin editointi oikeuksia varten.</p>
                @using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { @id = "registerForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.KayttajaNimi, htmlAttributes: new { @class = "content-label col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.KayttajaNimi, new { htmlAttributes = new { @class = "form-control", @id = "UusiKaytNimi" } })
                                @Html.ValidationMessageFor(model => model.KayttajaNimi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Salasana, htmlAttributes: new { @class = "content-label col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Salasana, new { htmlAttributes = new { @class = "form-control", @id = "UusiKaytSalas" } })
                                @Html.ValidationMessageFor(model => model.Salasana, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VarmistaSalasana, htmlAttributes: new { @class = "content-label col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VarmistaSalasana, new { htmlAttributes = new { @class = "form-control", @id = "UusiKaytSalaUudest" } })
                                @Html.ValidationMessageFor(model => model.VarmistaSalasana, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="text-danger">@Html.DisplayFor(model => model.KirjautumisVirheViesti)</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" form="registerForm"><img src="~/Content/Icons/check-box.svg" /></button>
                <button class="btn btn-info" data-dismiss="modal"><img src="~/Content/Icons/x-square.svg" /></button>
            </div>
        </div>
    </div>
</div>
